# configuration globale :
APP_NAME="Factur-IA API"
ENVIRONNEMENT="dev/test/prod"
DEBUG="True/False"

# configuration de la bdd
DB_HOST="host de la bdd"
DB_PORT="numéro de port de la bdd"
DB_NAME="nom de la bdd"
DB_USER="utilisateur"
DB_PASSWORD="mot de passe" # pragma: allowlist secret
DB_CHARSET="utf8"

# configuration API :
API_PORT="nulméro de port de l'API"
API_HOST="host de l'API"

ACCESS_TOKEN_EXPIRE_MINUTES="durée de validité du token en minutes"
ALGORITHM="algorithme de chiffrement du token (HS256, RS256, etc.)"
SECRET_KEY="ma clé secrete pour les tokens, à générer via bash avec : openssl rand -hex 32" # pragma: allowlist secret
